/app/build/generated/mockable-android-26.v3.jar
/app/build/generated/source/buildConfig/androidTest/debug/com/pxr/tutorial/menu/test/BuildConfig.java
/app/build/generated/source/buildConfig/debug/com/pxr/tutorial/menu/BuildConfig.java
/app/build/generated/source/r/androidTest/debug/android/app/R.java
/app/build/generated/source/r/androidTest/debug/android/support/test/espresso/idling/R.java
/app/build/generated/source/r/androidTest/debug/android/support/test/espresso/R.java
/app/build/generated/source/r/androidTest/debug/android/support/test/R.java
/app/build/generated/source/r/androidTest/debug/android/support/test/rule/R.java
/app/build/generated/source/r/androidTest/debug/com/pxr/tutorial/menu/test/R.java
/app/build/generated/source/r/debug/android/support/compat/R.java
/app/build/generated/source/r/debug/android/support/constraint/R.java
/app/build/generated/source/r/debug/android/support/coreui/R.java
/app/build/generated/source/r/debug/android/support/coreutils/R.java
/app/build/generated/source/r/debug/android/support/fragment/R.java
/app/build/generated/source/r/debug/android/support/graphics/drawable/animated/R.java
/app/build/generated/source/r/debug/android/support/graphics/drawable/R.java
/app/build/generated/source/r/debug/android/support/mediacompat/R.java
/app/build/generated/source/r/debug/android/support/v4/R.java
/app/build/generated/source/r/debug/android/support/v7/appcompat/R.java
/app/build/generated/source/r/debug/com/pxr/tutorial/menu/R.java
